<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 事务通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!-- 传播规则(事务属性):
        凡是指定包下的类中的方法是以 add* | modify* | remove* | save* | update* | delte* 开头,则必需开启事务,异常回滚;
        否则(其它的方法[查询方法])不需事务且只读-->
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" isolation="DEFAULT" rollback-for="Exception"/>
            <tx:method name="modify*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="remove*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="*" propagation="NOT_SUPPORTED" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!-- AOP 配置事务管理 -->
    <aop:config>
        <aop:pointcut id="methods"
                      expression="execution(* com.*.service.*.*(..))"/>
        <!-- 把通知和切入点连接起来形成切面-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="methods"/>
    </aop:config>

    <!-- 事务注解
    <tx:annotation-driven transaction-manager="transactionManager"/>
    -->
</beans>